/* hero section */
.grid-container .cell.medium-12 {
    background-color: #f184b9; /* Background color for the hero section */
    text-align: center; /* Center the h1 element within the hero section */
    justify-content: center;
    border: #14ce3f;
    padding: 10px;
  }
  
  /* Adjust the height of the hero section as needed */
  .grid-container .cell.medium-12 {
    height: 100%;
    width: 100%;
  }

  /*search history list items */
#searchHistory .search-history-item {
    cursor: pointer;
  }

  /* Add some spacing between each day's forecast */
.day-forecast {
    margin-bottom: 20px;
  }
  
  /* Add border and background color to each day's forecast */
  .day-forecast {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f8f8f8;
  }
  
  /* Optional: Center the content within each box */
  .day-forecast p,
  .day-forecast img {
    text-align: center;
  }
  
  /* Optional: Style the heading with larger font and bold */
  .day-forecast h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }

  
  
  
  